.opinionesuno {
    font-style: oblique;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 90px;
}

.opinionesdos {
    font-style: oblique;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 90px;
}



