header{
    display: flex;
    flex-direction: grid;
    width: 100%;
    justify-content:space-between;
    background-color: #dde5b6;

    .contenedor {
        padding:20px 0px 20px 0px;
        width: 100%;
    }
    .menuInicial {
    
        list-style: none;
        display: flex;
        flex-direction: grid;
        
        gap: 80px;
        font-weight: bold;
        justify-content: space-evenly;
        position: sticky;
    }
        & a{
        text-decoration: none;
        color: #6c584c;
    
        }
    }
    .menuInicial a:hover {
    font-size: 20px;
    }
    